body	{
	background-image: url('../images/code_image.jpg');
	color: #ffffff;
	text-align: center;
}
p {
	margin-left: 50px;
}
a {
	color: #ffffff;
	padding: 10px;
} 
a:hover {
	background-color: #0099cc;
}
#two_column	{
	background-color: #FFB7CF;
	border: 1px black solid;
	padding: 20px;
}
#left {
	background-color: #E582A2;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 30%;
}
#right {
	background-color: #E55B88;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 62%;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
section {
	background-color: #00ff99;
	text-align: left;
	clear: both;
}
header	{
	background-color: #ccee23;
}
nav	{
	background-color: #77ddee;
	float: right;
	clear: both;
	padding: 10px;
}
footer	{
	background-color: #800000;
}
#projects	{
	background-color: #000000;
}
#work	{
	background-color: #00ff99;
}
#education {
	background-color: #999999;
}
