

body	{
	background-image:	url("../images/code_image.jpg");
	background-color: #0099cc;
	text-align:	center;
/*	font-family: arial;*/
	color:	#ffffff;
}
/*img	{
	width: 100px;
	height:	250px;
}*/
h1	{
	background-color: #8c8c8c;
	font-family: 'Roboto Slab', serif;
	letter-spacing: 2px;
	word-spacing: 3px;
	line-height:	50px;
}
h3	{
	font-family: 'Roboto Slab', serif;
	letter-spacing: 2px;
}
p {
	text-align:	center;
/*	font-family: 'Bree Serif', serif;*/
	font-family: 'Cormorant Garamond', serif;
	word-spacing: 2px;

}
.summary	{
	width: 100px;
	height:	250px;
}
#self	{
	border-radius:	50%;
	width:	350px;
	height:	250px;
}
#slogan	{
	font-style:	italic;
}
#work	{
	text-align:	left;
}
#education	{
	text-align: left;
}
#projects	{
	text-align:	left;
}
/*ol	{
	text-align:	left;
}*/

#projects-column div {
	width: 33%;
	float: left;
}

#projects-column img {
	width: 100%;
}
#code {
	background-color:	#cccccc;
}
#contact {
	background-color: #ffffff;
}